{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} floating-alert" role="alert">
      <p>{{ message }}</p>
      <div class="alert-close-wrapper">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
    </div>
  {% endfor %}
{% elif form.errors %}
  <div class="alert alert-danger floating-alert" role="alert">
    <p>Usuario o contraseña incorrectos. Inténtalo de nuevo.</p>
    <div class="alert-close-wrapper">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
  </div>
{% endif %}

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const alerts = document.querySelectorAll('.floating-alert');
    alerts.forEach(alert => {
      setTimeout(() => {
        alert.style.animation = 'fadeOut 0.5s forwards';
        setTimeout(() => {
          alert.remove();
        }, 500);
      }, 10000);
    });
  });
</script>
